<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yahoo.foodie"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission android:name="com.yahoo.foodie.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.yaho.foodie.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.yahoo.foodie.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.yahoo.foodie.permission.C2D_MESSAGE" />

    <application
        android:name="com.yahoo.foodie.clients.YelpClientApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name="com.yahoo.foodie.activities.FavoriteListActivity"
            android:label="@string/title_activity_favorite_list" >
        </activity>
        <activity
            android:name="com.yahoo.foodie.activities.SearchFavoriteActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yahoo.foodie.activities.RestaurantListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yahoo.foodie.activities.RestaurantDetailActivity"
            android:label="@string/title_activity_restaurant_detail"
            android:theme="@style/Theme.TranslucentActionBar.ActionBar.Overlay" >
        </activity>

        <!--
             MAKE SURE TO CHANGE AS YOUR OWN API KEY!!!
			Stone: AIzaSyAJ7XQXq3Jzo241_-eDbxvA5A81BE2R4Ao
			Zenith: AIzaSyCNHIt0mPX9BAANeXb_QDmqFEfsJFGIm5g
			Zhongtang: 
        -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCNHIt0mPX9BAANeXb_QDmqFEfsJFGIm5g" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.yahoo.foodie.activities.ContactsListActivity"
            android:label="@string/title_activity_contacts_list"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.yahoo.foodie" />
            </intent-filter>
        </receiver>
    </application>

</manifest>