#s-ee42fa65-35a0-406a-aa4f-692c42798abb {
  background-color: transparent;
  background-image: none;
  min-width: 360px;
  min-height: 908px;
}
#s-ee42fa65-35a0-406a-aa4f-692c42798abb > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ee42fa65-35a0-406a-aa4f-692c42798abb #s-tvHeader {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 280px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial Black;
  font-size: 20pt;
  font-style: normal;
  font-weight: 900;
  line-height: 20pt;
}
#s-ee42fa65-35a0-406a-aa4f-692c42798abb #s-tvHeader .valign {
  vertical-align: middle;
}
#s-ee42fa65-35a0-406a-aa4f-692c42798abb #s-btnSearch {
  position: absolute;
  top: 0px;
  left: 320px;
  width: 40px;
  height: 38px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ee42fa65-35a0-406a-aa4f-692c42798abb #s-btnBack {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 38px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ee42fa65-35a0-406a-aa4f-692c42798abb #s-dtRestaurant {
  position: absolute;
  top: 40px;
  left: 0px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 320px;
  height: 826px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Regular;
}
#s-ee42fa65-35a0-406a-aa4f-692c42798abb #s-dtRestaurant .valign {
  vertical-align: top;
  text-align: left;
}
#s-ee42fa65-35a0-406a-aa4f-692c42798abb #s-dtRestaurant span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
}
#s-ee42fa65-35a0-406a-aa4f-692c42798abb #s-dtRestaurant span#rtr-s-dtRestaurant_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
  line-height: 0px;
}
#s-ee42fa65-35a0-406a-aa4f-692c42798abb #s-Image_64 {
  position: absolute;
  top: 180px;
  left: 20px;
  width: 320px;
  height: 320px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ee42fa65-35a0-406a-aa4f-692c42798abb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}